.errmsg {
  background-color: rgba(rgb(255, 81, 54), .15);
  border: solid .1rem rgba(rgb(255, 81, 54), .15);
  color: rgb(255, 81, 54);
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .3rem;
  font-size: .9rem;

  &--input {
    color: rgb(255, 81, 54);
    padding: .3rem;
    font-size: .9rem;
  }
}

.success-msg {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  #close {
    display: flex;
    gap: .6rem;
    align-items: center;
    ion-icon {
      font-size: 1.2rem;
      margin-top: .1rem;
    }
  }
}