.postline {
  padding: 1rem 1.2rem;
  border-radius: $box-border-radius;
  background-color: $colour-primary-light;
  border: solid 1px $colour-primary-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  p {
    color: $colour-primary
  }
}
.profile-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  .profile-item {
    display: flex;
    align-items: center;
    gap: .6rem;
    &--avatar {
      height: 3rem;
      width: 3rem;
      border-radius: 50rem;
      background-color: rgb(234, 238, 241);
      color:  rgb(195, 202, 206);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
    }
  }
}