.login-form {
  border-radius: 1rem;
  box-shadow: $box-shadow;
  margin: 1.5rem 1rem;
  margin-left: auto;
  padding: 2rem 2.5rem;
  .paragraph {
    margin-top: 1rem;
  }
}
.login-container {
  margin-top: 10vh;
}
.login-introduction {
  padding: 1rem;
  p {
    color: $colour-text;
  }
}
.login-background {
  background-image: url(../../../public/background.png);
  background-size: cover;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: -1;
}
@media only screen and (max-width: 990px) {
  .login-container {
    margin-top: 1rem;
  }
  .login-background {
    display: none;
  }
  .login-form {
    z-index: 1000;
    margin: auto auto;
    margin-top: 2rem;
  }
}