.login-form {
  border-radius: 1rem;
  box-shadow: $box-shadow;
  margin: 1.5rem 1rem;
  margin-left: auto;
}
.login-container {
  margin-top: 10vh;
}
.login-introduction {
  padding: 1rem;
  p {
    color: $colour-text;
  }
}
.login-background {
  background-image: url(../../../public/background.png);
  background-size: cover;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: -1;
}