.user-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;

  .search {
    margin-top: 2rem;
    width: 500px;
    form {
      width: 100%;
    }
    .input-group {
      border: solid 1px gainsboro;
      border-radius: $box-border-radius;
      &:focus-within {
        border-color: $colour-primary;
      }
    }
  }
}
.user-grid {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .6rem;
  border: $box-border;
  padding: .2rem 1rem;
  border-radius: $box-border-radius;
  width: 500px;
  &--avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50rem;
    background-color: rgb(234, 238, 241);
    color:  rgb(195, 202, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }
  &--avatar:hover {
    transition: .3s ease;
    scale: 1.02;
    outline: solid .5rem $colour-primary-light;
  }
  &--avatar:hover + .profile-item--name {
    transition: .2s ease;
    opacity: 1;
    margin-left: .5rem;
  }
  &--name {
    color: $colour-text;
    &:hover {
      color: $colour-text-dark;
    }
  }
  &--dets {
    font-size: .9rem;
    color: $colour-text-light;
  }
  .group {
    align-items: center;
    gap: 1.5rem;
  }
}