input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
a {
  text-decoration: none;
  color: $colour-text-dark;
  &:hover {
    color: $colour-text;
  }
}
form {
  max-width: 500px;
}
.btn-primary {
  background-color: $colour-primary;
  border-color: $colour-primary;
  color: white;
  &:hover {
    background-color: $colour-primary-hover;
    border-color: $colour-primary-hover;
  }
}
.btn-secondary {
  &:hover {
    background-color: transparent;
    border-color: $colour-primary;
    color: $colour-primary;
  }
}
.me-auto {
  margin-left: 38%;
}
.form-content {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-group {
  border-bottom: solid .1rem gainsboro;
  &:focus-within {
    border-bottom: solid .15rem $colour-primary;
  }
  &:focus-within .input-group-text {
    color: $colour-primary;
  }
}
.input-group-text {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
}
.input-group-text.input-span--textarea {
  align-items: flex-start;
  padding-top: .6rem;
}
#formTextarea {
    color: $colour-text-light;
}
.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0.6rem 0.75rem;
  &:focus {
    box-shadow: none;
    border: none;
  }
}
.btn-secondary {
  background-color: transparent;
  border: $box-border;
  color: $colour-text-light;
}
#welcome-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
#following-modal, 
#followers-modal,
#create-modal {
  .modal-body {
    padding: 0rem 2rem 2rem 2rem;
    position: relative;
  }
}
#create-modal .form-content {
  margin: 0 0 1.5rem 0;
}
.modal-body {
  padding: 2rem 2.5rem;
}
.modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}