@use "sass:map";

main {
  margin: 1rem 0;
}
.navbar {
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav-link {
    &--avatar{
      padding: .5rem .8rem;
      background-color: antiquewhite;
      border-radius: 5rem;
      margin-right: 1rem;
    }
    &--username {
      font-weight: map.get($font-weight, 'semibold');
    }
  }
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: .5rem 0;
  &--text {
    font-size: .9rem;
  }
}