.group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: .6rem 0;
}
main {
  margin: 1rem 0;
}
#navigation-bar {
  padding: 1.5rem 0;
}
.navbar {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $box-border;
  font-weight: map.get($font-weight, 'medium');
  .profile-link {
    display: flex;
    gap: .6rem;
    align-items: center;
    color: black;
    text-decoration: none;
    &--avatar {
      height: 35px;
      width: 35px;
      background-color: rgb(255, 230, 218);
      color: rgb(255, 157, 112);
      border-radius: 5rem;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @extend .profile-link--avatar;
      }
    }
    
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.non-auth-nav {
  margin-left: auto;
}
.follow-list {
  margin: 0;
  padding: 0;
  margin: 2rem;
}
.follow-list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  &--link {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: .5rem 0;
  &--text {
    font-size: .9rem;
  }
}