$font-weight: (
  "light": 300,
  "regular": 400, 
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$box-shadow: 0px 2px 20px 3px #ebebef;
$box-border-radius: .4rem;
$box-border: 1px solid #E6E6EB;