$font-weight: (
  "light": 300,
  "regular": 400, 
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$box-shadow: 0px 2px 20px 3px #ebebef;
$box-border-radius: .4rem;
$box-border: 1px solid #E6E6EB;

$colour-primary: #7259FF;
$colour-primary-light: #7259ff20;
$colour-primary-hover: #5f4bd3;
$colour-text: #444b67;
$colour-text-light: #7a7f94;
$colour-text-dark: #242732;

$background: rgb(48,53,65);
$background-linear: linear-gradient(0deg, rgba(48,52,65,1) 0%, rgba(56,57,78,1) 34%, rgba(37,32,45,1) 90%);