.skip-modal {
  width: fit-content;
  background-color: transparent;
  border-radius: $box-border-radius;
  border: none;
  outline: none;
  color: $colour-text-light;
  &:hover {
    color: $colour-text;
  }
}
.modal-btns {
  flex-wrap: nowrap;
}
.introduction {
  margin-bottom: 2rem;
  margin-top: .5rem;
}