.postline {
  padding: 1.2rem;
  border-radius: $box-border-radius;
  background-color: #F1EEFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  p {
    color: #7259FF;
  }
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.post-card {
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
  padding: 1.2rem;
  display: flex;
  gap: 1.5rem;
  height: fit-content;
  max-height: 20rem;
  &__image {
    object-fit: cover;
    width: 15rem;
    background-color: rgb(225, 225, 237);
    border-radius: $box-border-radius;
    border: $box-border;
    img {
      object-fit: cover;
      border-radius: $box-border-radius;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    &--header {
      display: flex;
      justify-content: space-between;
      .btn-light {
        font-size: 1.8rem;
        background-color: transparent;
        padding: .2rem;
      }
    }
    &--text {
      max-height: 5rem;
      width: 80%;
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      padding-top: .5rem;
    }
  }
}
.reactions {
  form {
    padding: 0;
  }
}