.postline {
  padding: 1.2rem;
  border-radius: $box-border-radius;
  background-color: #F1EEFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  p {
    color: #7259FF;
  }
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.post-card {
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
  padding: 1.2rem;
  display: flex;
  gap: 1.5rem;
  height: 14rem;
  &__image {
    object-fit: cover;
    width: 15rem;
    background-color: rgb(225, 225, 237);
    border-radius: $box-border-radius;
    border: $box-border;
    img {
      object-fit: cover;
      border-radius: $box-border-radius;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    &--header {
      display: flex;
      justify-content: space-between;
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
    }
  }
}
.reactions {
  form {
    padding: 0;
  }
}