.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: flex-start;
  overflow-x: hidden;
}
.post-card {
  width: 32%;
  color: $colour-text;
  @media (max-width: 1400px) {
    width: 48.5%;
  }  
  @media (max-width: 777px) {
    width: 100%;
  } 
  &:hover .reactions,
  &:hover .post-menu,
  &:hover .tag {
    transition: .2s ease;
    opacity: 1;
  }
  &:hover {
    transition: .2s ease-in-out;
    scale: 1.01;
  }
  &__image {
    object-fit: cover;
    background-color: rgb(225, 225, 237);
    border-radius: $box-border-radius;
    border: $box-border;
    width: 100%;
    img {
      object-fit: cover;
      border-radius: $box-border-radius;
      width: 100%;
      height: 15rem;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: $box-border-radius;
    background: $background;
    background: $background-linear;
    color: white;
    height: fit-content;
    gap: 1rem;
    height: 15rem;
    width: 100%;
    &--header {
      display: flex;
      justify-content: space-between;
      .btn-light {
        font-size: 1.8rem;
        background-color: transparent;
        padding: .2rem;
      }
    }
    &--text {
      max-height: 5rem;
      width: 75%;
      word-break: break-word;
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      padding: .6rem .3rem 0 .3rem;
    }
  }
}
.tag {
  background-color: rgba(255, 255, 255, 0.80);
  font-size: .85rem;
  padding: .2rem .6rem;
  border-radius: 50rem;
  position: absolute;
  margin-top: .7rem;
  margin-left: .7rem;
  font-weight: map.get($font-weight, 'semibold');
  opacity: 0;
}
.reactions {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 50rem;
  padding: 0rem .1rem;
  margin-left: .7rem;
  margin-top: 12rem;
  position: absolute;
  height: 2.3rem;
  font-size: 1.2rem;
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0;
  overflow: visible;
  .reaction-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: .2rem .3rem;
    border-radius: 5rem;
    overflow: visible;
    &:hover {
      transition: ease-in .3s;
      scale: 1.25;
      background-color: #ffffff;
    }
  }
  .reaction-count {
    font-size: .95rem;
    margin: 0 .6rem;
    padding-right: .3rem;
    
  }
}
.post-menu {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  right: 0;
  margin-top: .6rem;
  margin-right: .8rem;
  position: absolute;
  opacity: 0;
  align-items: flex-end;
  z-index: 1000;
}
.post-btn {
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 50rem;
  padding: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  width: fit-content;
  color: #444b67;
}
.post-btn.edit:hover {
  background-color: rgba(255, 255, 255, 0.90);
  transition: .2s ease;
  padding: .4rem .6rem;
  color: $colour-primary;
  &::after {
    content: 'Edit';
    font-size: 1rem;
    margin-left: .4rem;
  }
}
.post-btn.delete:hover {
  background-color: rgba(255, 255, 255, 0.90);
  transition: .2s ease;
  padding: .4rem .6rem;
  color: $colour-primary;
  &::after {
    content: ' Delete';
    font-size: 1rem;
    margin-left: .4rem;
  }
}
.comment-btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: .9rem;
  ion-icon {
    margin-right: .4rem;
  }
}
.post-container {
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
  padding: 1.5rem 1rem;
  width: 95%;
  float: right;
  height: fit-content;
  .post-image {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: $box-border-radius;
    }
  }
  .post-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: $box-border-radius;
    background: $background;
    background: $background-linear;
    color: white;
    width: 100%;
    height: 35rem;
    font-size: 1.3rem;
    padding: 4rem;
  }
  .post-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--header {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      .author {
        display: flex;
        align-items: center;
        gap: .6rem;
        font-weight: map.get($font-weight, 'medium');
      }
      .avatar {
        object-fit: cover;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50rem;
        img {
          @extend .avatar;
        }
      } 
    }
  }
}
.timeago {
  color: $colour-text-light;
  font-size: .9rem;
  time {
    @extend .timeago;
  }
}